<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your password got reset, <%= @email %></h1>

    <p>
      Please change your password by clicking this link: <%= link_to reset_password_url(token: @reset_password_token), reset_password_url(token: @reset_password_token) %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>
