<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @email %></h1>
    <p>
      You have successfully signed up to example.com.<br>
    </p>
    <p>
      Please verify your account by clicking this link: <%= link_to @verify_url, verify_account_url(token: @verify_token) %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
